<div class="container">
    <button (click)="back()" class="back-btn">back</button>
    <h2 class="heading">loginFrom</h2>

    &it;

         <form #loginFrom = "ngFrom" class="for-center">

        <label class="label"> Full Names</label> <br>

        <input type="text" ngModel class="inp-box" > <br>

        <span class="span-err" > Please Enter Alphabets Only</span>

        <label class="pass">password</label><br>

        <input type="text" class="inp-box"> <br>


        <button class=" submit-btn">submit</button>
      </form>
    &it;  

</div>