<div class="parent">
    <h2 class="heading">my appliction</h2>
    <button (click)="login()" class="btn-login">login</button> &nbsp; 
    <button (click)="signup()" class="btn-login">signup</button>
    <button (click)="studentactivity()" class="btn-login">student activity</button>
    <button routerLink="/student/studentdemo"  class="btn-login">student demo</button>
    <button (click)="directives()" class="btn-login">directives</button>
    <app-studentdemo></app-studentdemo>
    <button (click)="parent()" class="btn-login">parent</button>
    <button (click)="apicall()"> API CALL</button>
    <button (click)="form()">form</button>

    
</div>

